.login-form {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 300px;
    margin: 100px auto;

        form {
            background-color: #bababa;
            box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
            padding: 15px;
            border-radius: 5px;
            box-sizing: border-box;
            flex: 0 0 100%;

            label {
                display: inline-block;
                margin: 12px 0 2px 0
            }

            input {
                display: block;
                width: 100%;
            }
        }

    button {
        background-color: #bababa;
        border-radius: 5px;
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
        border: 0;
        width: 140px;
        margin-top: 20px;
        flex: 0 0 48%;

        &:hover {
            background-color: #a8a6a6;
            transition: 0.2s
        }
    }
}